.info-header {
    width: 100%;
    min-height: 20%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    padding: 32px;
}

.info-modal {
    display: flex;
    flex-direction: column;
}
.info-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 32px;
}

.info-buttons {
    display: flex;
}
